In [9]:
cd C:\Users\SRILATHA K\Desktop\fake_job_postings.csv

C:\Users\SRILATHA K\Desktop\fake_job_postings.csv

In [10]:
#loading dataset
import pandas as pd
data=pd.read_csv('fake_job_postings.csv')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [12]:
data.drop(['job_id','description','has_company_logo','location','salary_range','benefits','function'],inplace=True,axis=1)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                17880 non-null  object
 1   department           6333 non-null   object
 2   company_profile      14572 non-null  object
 3   requirements         15185 non-null  object
 4   telecommuting        17880 non-null  int64
 5   has_questions        17880 non-null  int64
 6   employment_type      14409 non-null  object
 7   required_experience  10830 non-null  object
 8   required_education   9775 non-null   object
 9   industry             12977 non-null  object
 10  fraudulent           17880 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.5+ MB

In [14]:
data.drop(['department','required_experience','required_education'],inplace=True,axis=1)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            17880 non-null  object
 1   company_profile  14572 non-null  object
 2   requirements     15185 non-null  object
 3   telecommuting    17880 non-null  int64
 4   has_questions    17880 non-null  int64
 5   employment_type  14409 non-null  object
 6   industry         12977 non-null  object
 7   fraudulent       17880 non-null  int64
dtypes: int64(3), object(5)
memory usage: 1.1+ MB

In [18]:
data['company_profile'].fillna('others', inplace=True)

In [19]:
data['requirements'].fillna('others', inplace=True)

In [20]:
data['employment_type'].fillna('others', inplace=True)

In [21]:
data['industry'].fillna('others', inplace=True)

In [22]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['title','company_profile','requirements','employment_type','industry']
le = LabelEncoder()
for i in var_mod:
    data[i] = le.fit_transform(data[i])

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            17880 non-null  int64
 1   company_profile  17880 non-null  int32
 2   requirements     17880 non-null  int32
 3   telecommuting    17880 non-null  int64
 4   has_questions    17880 non-null  int64
 5   employment_type  17880 non-null  int32
 6   industry         17880 non-null  int32
 7   fraudulent       17880 non-null  int64
dtypes: int32(4), int64(4)
memory usage: 838.2 KB

In [30]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [31]:
print(x)

[[ 6043  1526  3829 ...     0     2   131]
 [ 2183    50 10526 ...     0     1    75]
 [ 1763  1389  4560 ...     0     5   131]
 ...
 [ 7579  1430  1789 ...     0     1   131]
 [ 4107  1674   443 ...     1     0    48]
 [10896  1391 10236 ...     1     1    22]]

In [32]:
from sklearn.model_selection import train_test_split as tts 
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.3,random_state=53)

In [33]:
from sklearn.linear_model import LogisticRegression as logreg
model_logreg=logreg() #object creation for the model
model_logreg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [34]:
y_pred=model_logreg.predict(x_test)
print(y_pred)

[0 0 0 ... 0 0 0]

In [35]:
acc=model_logreg.score(x_test,y_test)
print('Logistic Regression Accuracy:',acc)

Logistic Regression Accuracy: 0.9442580164056674